/* common css start */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    font-family: "Roboto Mono", monospace;
    overflow:hidden;
    box-sizing:border-box;
    text-align:center;

}

ul,li{
    list-style :none;
}

a{
    text-decoration : none;
}

img{
    width:100%;
    vertical-align:middle;
}

h1{
    text-align :center;
    margin-bottom :1rem
}
/* common css end */
/* score  css start */
p{
    color:blue;
    position:absolute;
    left:10vw;
    top:4vh;
    font-size:25px;
}

/* score  css end */
/* button css start */
.rest{
    background-color: black;
    padding: 14px;
    border-radius: 12px;
    color: white;
    position: absolute;
    right: 10vw;
    top:1vh;
    visibility: hidden;
}
/* button css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */